body {
    background-image: url("../images/background.jpg");
}

header {
    border-bottom: 2px solid black;
    font-size: 48px;
    font-family: pokemon;
    color: #3664AD;
    background-color: #FFCB05;
    font-weight: bold;
}

@font-face {
    font-family: pokemon;
    src: url(Pokemon-Hollow.ttf);
}

.mainContent {
    border: 2px solid black;
    width: 66%;
    height: 500px;
    margin: 50px auto 0 auto;
}

#left-side {
    border: 2px solid black;
    box-sizing: border-box;
    background-color: red;
}

#right-side {
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 24px;
    padding: 24px;
    background-color: white;
}

/* img {
    width: 480px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
} */

img {
    width: 270px;
    height: 270px;
}

#resultBox {
    font-size: 36px;
    font-weight: bold;
    font-family: pokemon;
    background-color: #FFCB05;
    color: #3664AD;
    display: none;
}

#answerRevealed {
    font-family: pokemon;
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 0 auto 0 auto;
    /* background-color: #FFCB05; */
    font-weight: bold;
    height: 70px;
    width: 480px;
    display: none;
}

#whoContainer {
    background-image: url("../images/who.png");
    background-size: 100% 100%;
    width: 480px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#whoImg {
    height: 270px;
    width: 270px;
    position: relative;
}